html,
body {
  margin: 0;
  background-image: url('/static/images/gongyong/0809.jpg');
  background-size: cover;
}
.wp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.page {
  background-position: center;
}
.page-1 {
  background-image: url('/static/images/01/01.jpg');
  background-size: cover;
  text-align: center;
}
.page-2,
.page-3,
.page-4,
.page-5 {
  background-image: url('/static/images/gongyong/0809.jpg');
  background-size: cover;
  text-align: center;
}
.page-6 {
  background-image: url('/static/images/06/06.jpg');
  background-size: cover;
  text-align: center;
}
.page-6-h {
  text-align: center;
}
.page-7 {
  background-image: url('/static/images/07/07.jpg');
  background-size: cover;
  text-align: center;
}
.page-8,
.page-9 {
  text-align: center;
}
.page-10 {
  background-image: url('/static/images/10/10.jpg');
  background-size: cover;
  text-align: center;
}
.item {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  padding: 2rem 0;
}
.item-1 .logo-big {
  margin-bottom: 4rem;
}
.item-1 .logo-s {
  margin: 17rem 0 1rem 0;
}
.item-1 .title,
.item-1 .subtitle {
  margin-bottom: 1rem;
}
.item-2 {
  background-image: url('/static/images/02/02.jpg');
  background-size: cover;
  background-position: center;
}
.item-3 {
  background-image: url('/static/images/03/03.jpg');
  background-size: cover;
  background-position: center;
}
.item-4 {
  background-image: url('/static/images/04/04.jpg');
  background-size: cover;
  background-position: center;
}
.item-5 {
  background-image: url('/static/images/05/05.jpg');
  background-size: cover;
  background-position: center;
}
.item-2,
.item-3 {
  position: relative;
}
.item-2 .subtitle,
.item-3 .subtitle {
  margin-top: 2.5rem;
  margin-left: 16rem;
  display: inline-block;
  vertical-align: top;
}
.item-2 .title,
.item-3 .title {
  margin-top: 2rem;
  margin-left: 13rem;
}
.item-2 .title img,
.item-3 .title img {
  display: inline-block;
  vertical-align: top;
}
.item-4 .subtitle {
  margin: 24rem 0 1rem 0;
}
.item-4 .title {
  margin: 1rem 0 6rem 0;
}
.item-5 .title {
  margin: 22rem 0 1rem 0;
}
.item-5 .subtitle {
  margin: 1rem 0 4rem 0;
}
.item-6 {
  margin-top: 3rem;
}
.item-6 .subtitle,
.item-6 .kuang {
  margin-bottom: 1rem;
}
.item-6 .title {
  margin: 1rem 0;
}
.item-7 {
  margin-top: 6rem;
}
.item-7 .title {
  margin-bottom: 2rem;
  position: relative;
  font-size: 2rem;
  color: #f5d497;
  font-family: "宋体", STSong, SimSun;
  font-weight: bold;
}
.item-7 .subtitle {
  margin: 1rem 0 2rem 0;
}
.item-8 .title {
  margin: 5rem 0 1rem 0;
  position: relative;
  top: -20px;
}
.item-8 .huoche {
  position: relative;
  width: 304px;
  height: 218px;
  background: url(/static/images/08/HENGYANG.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.item-8 .huoche .dizhi {
  color: #fff;
  font-weight: bold;
  position: relative;
  /* top: 50px; */
  /* left: 9rem; */
  font-size: .7rem;
  text-align: left;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  top: 40px;
}
.item-8 .huoche .name {
  font-weight: bold;
  font-size: .7rem;
  /* position: absolute; */
  /* bottom: 4.5rem; */
  /* left: 4rem; */
  position: relative;
  text-align: left;
  width: 220px;
  margin: auto;
  top: 8.5rem;
}
.item-8 .input input {
  background: #fff;
  border: 0;
  width: 65%;
  height: 34px;
  font-size: 1.2rem;
  border-radius: 20px;
  padding-left: 10px;
}
.item-8 .input select {
  -webkit-appearance: none;
  font-size: 1.2rem;
  background: white;
  border: 0;
  width: 32%;
  color: #757575;
  padding-left: 10px;
  height: 34px;
  margin-bottom: 1rem;
}
.item-8 .input #sheng {
  border-radius: 30px 0 0 30px;
}
.item-8 .input #didian {
  border-radius: 0 30px 30px 0;
}
.item-9 {
  margin-top: 2rem;
}
.item-9 .zhongjian {
  height: 20rem;
  width: 13rem;
  position: relative;
  margin: auto;
}
.item-9 .biaoti,
.item-9 .xiaozi {
  position: absolute;
  top: 25px;
}
.item-9 .xiaozi {
  top: 4rem;
  right: 1.5rem;
  color: #ca8641;
  writing-mode: vertical-lr;
  font-size: .9rem;
}
.item-9 .fengge {
  height: 100%;
  z-index: -1;
}
.item-9 .icon-position,
.item-9 .icon-home {
  position: relative;
  top: 15px;
}
.item-10 {
  padding-top: 2rem;
  position: relative;
}
.item-10 .logo,
.item-10 .huochepiao,
.item-10 .button,
.item-10 .process {
  margin-bottom: 1.5rem;
}
.item-10 .process {
  position: relative;
  width: 76%;
  margin: auto;
}
.item-10 .process-kuang,
.item-10 .process-huang,
.item-10 .process-bai {
  position: absolute;
}
.item-10 .process-huang {
  height: 15px;
  width: 30%;
  top: 32px;
  border-radius: 20px;
  background: linear-gradient(to left top, #bd7c04, #f5eba0);
}
.item-10 .process-bai {
  height: 5px;
  width: 100%;
  top: 37px;
  border-radius: 20px;
  background: white;
}
.item-10 .process-kuang {
  width: 127px;
  left: -55px;
}
.item-10 .process-kuang span {
  color: #110000;
  position: absolute;
  font-size: 0.9rem;
}
.item-10 .process .num {
  width: 100%;
  height: 5rem;
  position: relative;
  top: 55px;
  color: white;
}
.item-10 .process .num1 {
  float: left;
}
.item-10 .process .num2 {
  float: right;
}
.item-10 .motai {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(/static/images/gongyong/share.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item-10 .motai .guan {
  height: 100%;
  width: 100%;
}
.item-10 .motai .banmian {
  width: 80%;
  padding: 20px;
  background: #fff;
  margin: 10rem auto;
}
.music {
  position: absolute;
  z-index: 1000;
  right: 0px;
  top: 0px;
  padding: 10px;
  width: 25px;
  height: 25px;
}
.music .music-btn {
  display: block;
  padding-left: 1px;
  width: 25px;
  height: 25px;
  background-image: url(/static/images/gongyong/music-1.png);
  background-size: 100% 100%;
}
.music .music-btn.play {
  background-image: url(/static/images/gongyong/music-0.png);
}
