<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/share.css">
  <title>分享</title>
</head>
<body>
    <div class="page page-10">
        <div class="item item-10 js-animate animated" data-animate="fadeIn">
          <div class="logo js-animate animated" data-animate="fadeInUp">
            <img src="../images/10/shangmianlogo.png" alt="" width="40%">
          </div>
          <div class="huochepiao js-animate animated" data-animate="fadeInUp">
            <img src="../images/10/huochepiao.png" alt="" width="60%">
          </div>
          <!-- <div class="process js-animate animated" data-animate="fadeInUp">
            
            <div class="process-bai"></div>
            <div class="process-huang"></div>
            <div class="process-kuang" style="margin-left:25%">
              <span class="one">&nbsp;现价240元</span>
              <img src="../images/10/kuang.png" alt="" width="60%"><br>
              <img src="../images/10/quan.png" alt="" width="20%">
            </div>
            <div class="num">
              <span class="num1">0%</span>
              <span class="num2">100%</span>
            </div>
          </div> -->
          <div class="button js-animate animated" data-animate="fadeInUp" style="margin-top: 7rem;">
            <img id="lingqu" src="../images/10/anniu3.png" alt="" width="60%">
            <!-- <img id="kanjia" src="../images/10/按钮2.png" alt="" width="60%"> -->
          </div>
          <div class="logo-s js-animate animated" data-animate="fadeInUp">
            <img src="../images/10/xiamian.png" alt="" width="80%">
          </div>
          <div class="motai">
            <!-- <div class="banmian" > -->
              <!-- <p>请将您的专属砍价链接复制到微信朋友圈</p> -->
              <!-- <input type="text" value=""> -->
              <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
              <div class="guan"></div>
            <!-- </div>  -->
          </div>
        </div>
      </div>
      <!-- <script src="../js/index.js"></script> -->
      <script src="../js/zepto.min.js"></script>
      <script>
        $('.guan').on('click', function() {
          $('.page-10 .motai').toggle()
        })
      </script>
</body>
</html>